<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet" />

  <!-- CSS -->
  <link rel="stylesheet" href="/style/loginemp.css" />
  <title>LineJobs - Login Empresa</title>
</head>

<body>
<div th:if="${mensagem}" class="alert alert-success">
  <p th:text="${mensagem}"></p>
</div>
<div th:if="${param.error}" class="alert alert-danger">
  E-mail ou senha inválidos.
</div>
<div class="container">
  <!-- Lado Esquerdo -->
  <div class="left-side">
    <img src="/assets/logo.png" alt="Logo LineJobs" class="logo-container" />
    <h1>Impulsione sua Empresa com Talentos de Alta Performance</h1>
    <p>
      Faça login para acessar um banco de talentos qualificados e encontrar os profissionais ideais para sua empresa.
      O LineJobs é o parceiro perfeito para o seu crescimento!
    </p>
    <div class="circle circle-left-top"></div>
    <div class="circle circle-left-bottom"></div>
  </div>

  <!-- Lado Direito -->
  <div class="right-side">
    <form th:action="@{/login-empresa}" method="post" class="login-box">
    <h2>Login</h2>
      <p>Bem-vindo de volta! Faça login para continuar.</p>

      <!-- Círculos decorativos -->
      <div class="circle circle-right-top1"></div>
      <div class="circle circle-right-top2"></div>
      <div class="circle circle-right-top3"></div>
      <div class="circle circle-right-bottom"></div>

      <div class="form-wrapper">
        <!-- Switch deslizante -->
        <div class="toggle-wrapper">
            <span class="btn btn-1">
              <input type="checkbox" id="switch" checked />
              <label for="switch"><span></span></label>
            </span>
        </div>

        <!-- Campo Email -->
        <div class="input-group" id="emailGroup">
          <input type="email" id="email" name="username" required placeholder=" " />
          <label for="email">Email</label>
        </div>

        <!-- Campo Senha -->
        <div class="input-group" id="passwordGroup">
          <input type="password" id="password" name="password" required placeholder=" " />
          <label for="password">Senha</label>
        </div>

        <!-- Opções -->
        <div class="options">
          <a href="redsenha01.html">Esqueci minha senha</a>
        </div>

        <!-- Botão login -->
        <button type="submit">Log in</button>

        <!-- Link de cadastro -->
        <div class="signup-link">
          <p>Novo usuário? <a th:href="@{/cadastro-empresa}">Criar Conta</a></p>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Script JS -->
<script src="/script/loginemp.js"></script>
</body>

</html>
